[Desktop Entry]
Version=1.0
Type=Application
Name=Panel to Monitor
Comment=
Exec=xfconf-query -c xfce4-panel -p /panels/panel-0/output-name -t string -s 'HDMI-A-0'
Icon=video-display
Path=
Terminal=false
StartupNotify=false
