//@theme "/home/pablo/.local/share/rofi/themes/nord.rasi"
//@theme "/home/pablo/.local/share/rofi/themes/nord-oneline.rasi"
//@theme "/usr/share/rofi/themes/Arc-Dark.rasi"
//@theme "/home/pablo/.local/share/rofi/themes/nord-twoLines.rasi"
//@theme "/home/pablo/.local/share/rofi/themes/nord.rasi"
@theme "/home/pablo/.local/share/rofi/themes/squared-nord.rasi"
