[General]
Show_Colored_Bars=false
Small_Spacings=true
Lines_Size=1
Preferred_Height=417
Number_Chips=6

[Chip0]
Name=thinkpad-0
Number=0

[Chip0_Feature1]
Address=1
Name=CPU
Color=#bbc3c8
Show=true
Min=0
Max=80

[Chip1]
Name=nvme-100
Number=1

[Chip2]
Name=amdgpu-400
Number=2

[Chip2_Feature2]
Address=2
Name=GPU
Color=#bbc3c8
Show=true
Min=0
Max=80

[Chip3]
Name=k10temp-c3
Number=3

[Chip4]
Name=BAT0-0
Number=4

[Chip5]
Name=ACPI
Number=5

